<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">
        Tasuta filmilaenutus</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/movies" style="color: #525252; padding-top: 30px">Filmid</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/lending" style="color: #525252; padding-top: 30px">Laenutus</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active">
          <a routerLink="/login" style="cursor: pointer; color: #525252; padding-top: 30px">
            Logi sisse</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/register" style="cursor: pointer; color: #525252; padding-top: 30px">
            Registreeru</a>
        </li>
      </ul>
    </div>
  </div>
  <img src="assets/film.png" alt="film" style="max-width: 100%">
</nav>
