.row {
  margin-top: 30px;
  text-align: center;
}

label {
  font-size: 13px;
  display: inline-block;
  text-align: center;
  width: 100px;
  margin-bottom: 10px;
}

input {
  font-size: 13px;
  height: 30px;
  width: 360px;
  margin-left: 50px;
}

button {
  margin-top: 25px;
}
